services:
  app:
    build: .
    ports:
      - "3001:3000"
    volumes:
      - ./data:/app/data
      - ./uploads:/app/uploads
    restart: always
    environment:
      - NODE_ENV=production
      - APP_PASSWORD=Travaux2026
      - DATABASE_URL=/app/data/sqlite.db
